<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<dict>
		<key>en</key>
		<string>Andorra</string>
		<key>it</key>
		<string>Andorra</string>
	</dict>
	<key>AE</key>
	<dict>
		<key>en</key>
		<string>United Arab Emirates</string>
		<key>it</key>
		<string>Emirati Arabi Uniti</string>
	</dict>
	<key>AF</key>
	<dict>
		<key>en</key>
		<string>Afghanistan</string>
		<key>it</key>
		<string>Afghanistan</string>
	</dict>
	<key>AG</key>
	<dict>
		<key>en</key>
		<string>Antigua and Barbuda</string>
		<key>it</key>
		<string>Antigua e Barbuda</string>
	</dict>
	<key>AI</key>
	<dict>
		<key>en</key>
		<string>Anguilla</string>
		<key>it</key>
		<string>Anguilla</string>
	</dict>
	<key>AL</key>
	<dict>
		<key>en</key>
		<string>Albania</string>
		<key>it</key>
		<string>Albania</string>
	</dict>
	<key>AM</key>
	<dict>
		<key>en</key>
		<string>Armenia</string>
		<key>it</key>
		<string>Armenia</string>
	</dict>
	<key>AO</key>
	<dict>
		<key>en</key>
		<string>Angola</string>
		<key>it</key>
		<string>Angola</string>
	</dict>
	<key>AQ</key>
	<dict>
		<key>en</key>
		<string>Antarctica</string>
		<key>it</key>
		<string>Antartide</string>
	</dict>
	<key>AR</key>
	<dict>
		<key>en</key>
		<string>Argentina</string>
		<key>it</key>
		<string>Argentina</string>
	</dict>
	<key>AS</key>
	<dict>
		<key>en</key>
		<string>American Samoa</string>
		<key>it</key>
		<string>Samoa Americane</string>
	</dict>
	<key>AT</key>
	<dict>
		<key>en</key>
		<string>Austria</string>
		<key>it</key>
		<string>Austria</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>en</key>
		<string>Australia</string>
		<key>it</key>
		<string>Australia</string>
	</dict>
	<key>AW</key>
	<dict>
		<key>en</key>
		<string>Aruba</string>
		<key>it</key>
		<string>Aruba</string>
	</dict>
	<key>AX</key>
	<dict>
		<key>en</key>
		<string>Åland Islands</string>
		<key>it</key>
		<string>Isole Åland</string>
	</dict>
	<key>AZ</key>
	<dict>
		<key>en</key>
		<string>Azerbaijan</string>
		<key>it</key>
		<string>Azerbaigian</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>en</key>
		<string>Bosnia and Herzegovina</string>
		<key>it</key>
		<string>Bosnia ed Erzegovina</string>
	</dict>
	<key>BB</key>
	<dict>
		<key>en</key>
		<string>Barbados</string>
		<key>it</key>
		<string>Barbados</string>
	</dict>
	<key>BD</key>
	<dict>
		<key>en</key>
		<string>Bangladesh</string>
		<key>it</key>
		<string>Bangladesh</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>en</key>
		<string>Belgium</string>
		<key>it</key>
		<string>Belgio</string>
	</dict>
	<key>BF</key>
	<dict>
		<key>en</key>
		<string>Burkina Faso</string>
		<key>it</key>
		<string>Burkina Faso</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>en</key>
		<string>Bulgaria</string>
		<key>it</key>
		<string>Bulgaria</string>
	</dict>
	<key>BH</key>
	<dict>
		<key>en</key>
		<string>Bahrain</string>
		<key>it</key>
		<string>Bahrein</string>
	</dict>
	<key>BI</key>
	<dict>
		<key>en</key>
		<string>Burundi</string>
		<key>it</key>
		<string>Burundi</string>
	</dict>
	<key>BJ</key>
	<dict>
		<key>en</key>
		<string>Benin</string>
		<key>it</key>
		<string>Benin</string>
	</dict>
    <key>BL</key>
	<dict>
		<key>en</key>
		<string>Saint Barthélemy</string>
		<key>it</key>
		<string>Saint-Barthélemy</string>
	</dict>
    <key>BM</key>
	<dict>
		<key>en</key>
		<string>Bermuda</string>
		<key>it</key>
		<string>Bermuda</string>
	</dict>
    <key>BN</key>
	<dict>
		<key>en</key>
		<string>Brunei</string>
		<key>it</key>
		<string>Brunei</string>
	</dict>
	<key>BO</key>
	<dict>
		<key>en</key>
		<string>Bolivia</string>
		<key>it</key>
		<string>Bolivia</string>
	</dict>
	<key>BQ</key>
	<dict>
		<key>en</key>
		<string>Caribbean Netherlands</string>
		<key>it</key>
		<string>Isole BES (Caraibi Olandesi)</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>en</key>
		<string>Brazil</string>
		<key>it</key>
		<string>Brasile</string>
	</dict>
	<key>BS</key>
	<dict>
		<key>en</key>
		<string>Bahamas</string>
		<key>it</key>
		<string>Bahamas</string>
	</dict>
	<key>BT</key>
	<dict>
		<key>en</key>
		<string>Bhutan</string>
		<key>it</key>
		<string>Bhutan</string>
	</dict>
	<key>BV</key>
	<dict>
		<key>en</key>
		<string>Bouvet Island</string>
		<key>it</key>
		<string>Isola Bouvet</string>
	</dict>
	<key>BW</key>
	<dict>
		<key>en</key>
		<string>Botswana</string>
		<key>it</key>
		<string>Botswana</string>
	</dict>
	<key>BY</key>
	<dict>
		<key>en</key>
		<string>Belarus</string>
		<key>it</key>
		<string>Bielorussia</string>
	</dict>
	<key>BZ</key>
	<dict>
		<key>en</key>
		<string>Belize</string>
		<key>it</key>
		<string>Belize</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>en</key>
		<string>Canada</string>
		<key>it</key>
		<string>Canada</string>
	</dict>
	<key>CC</key>
	<dict>
		<key>en</key>
		<string>Cocos (Keeling) Islands</string>
		<key>it</key>
		<string>Isole Cocos (Keeling)</string>
	</dict>
	<key>CD</key>
	<dict>
		<key>en</key>
		<string>Democratic Republic of the Congo</string>
		<key>it</key>
		<string>Repubblica Democratica del Congo</string>
	</dict>
	<key>CF</key>
	<dict>
		<key>en</key>
		<string>Central African Republic</string>
		<key>it</key>
		<string>Repubblica Centrafricana</string>
	</dict>
	<key>CG</key>
	<dict>
		<key>en</key>
		<string>Congo</string>
		<key>it</key>
		<string>Congo</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>en</key>
		<string>Switzerland</string>
		<key>it</key>
		<string>Svizzera</string>
	</dict>
	<key>CI</key>
	<dict>
		<key>en</key>
		<string>Ivory Coast</string>
		<key>it</key>
		<string>Costa d'Avorio</string>
	</dict>
	<key>CK</key>
	<dict>
		<key>en</key>
		<string>Cook Islands</string>
		<key>it</key>
		<string>Isole Cook</string>
	</dict>
	<key>CL</key>
	<dict>
		<key>en</key>
		<string>Chile</string>
		<key>it</key>
		<string>Cile</string>
	</dict>
	<key>CM</key>
	<dict>
		<key>en</key>
		<string>Cameroon</string>
		<key>it</key>
		<string>Camerun</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>en</key>
		<string>China</string>
		<key>it</key>
		<string>Cina</string>
	</dict>
	<key>CO</key>
	<dict>
		<key>en</key>
		<string>Colombia</string>
		<key>it</key>
		<string>Colombia</string>
	</dict>
	<key>CR</key>
	<dict>
		<key>en</key>
		<string>Costa Rica</string>
		<key>it</key>
		<string>Costa Rica</string>
	</dict>
	<key>CU</key>
	<dict>
		<key>en</key>
		<string>Cuba</string>
		<key>it</key>
		<string>Cuba</string>
	</dict>
	<key>CV</key>
	<dict>
		<key>en</key>
		<string>Cape Verde</string>
		<key>it</key>
		<string>Capo Verde</string>
	</dict>
	<key>CW</key>
	<dict>
		<key>en</key>
		<string>Curaçao</string>
		<key>it</key>
		<string>Curaçao</string>
	</dict>
	<key>CX</key>
	<dict>
		<key>en</key>
		<string>Christmas Island</string>
		<key>it</key>
		<string>Isola del Natale</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>en</key>
		<string>Cyprus</string>
		<key>it</key>
		<string>Cipro</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>en</key>
		<string>Czech Republic</string>
		<key>it</key>
		<string>Repubblica Ceca</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>en</key>
		<string>Germany</string>
		<key>it</key>
		<string>Germania</string>
	</dict>
	<key>DJ</key>
	<dict>
		<key>en</key>
		<string>Djibouti</string>
		<key>it</key>
		<string>Gibuti</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>en</key>
		<string>Denmark</string>
		<key>it</key>
		<string>Danimarca</string>
	</dict>
	<key>DM</key>
	<dict>
		<key>en</key>
		<string>Dominica</string>
		<key>it</key>
		<string>Dominica</string>
	</dict>
	<key>DO</key>
	<dict>
		<key>en</key>
		<string>Dominican Republic</string>
		<key>it</key>
		<string>Repubblica Dominicana</string>
	</dict>
	<key>DZ</key>
	<dict>
		<key>en</key>
		<string>Algeria</string>
		<key>it</key>
		<string>Algeria</string>
	</dict>
	<key>EC</key>
	<dict>
		<key>en</key>
		<string>Ecuador</string>
		<key>it</key>
		<string>Ecuador</string>
	</dict>
	<key>EE</key>
	<dict>
		<key>en</key>
		<string>Estonia</string>
		<key>it</key>
		<string>Estonia</string>
	</dict>
	<key>EG</key>
	<dict>
		<key>en</key>
		<string>Egypt</string>
		<key>it</key>
		<string>Egitto</string>
	</dict>
	<key>EH</key>
	<dict>
		<key>en</key>
		<string>Western Sahara</string>
		<key>it</key>
		<string>Sahara Occidentale</string>
	</dict>
	<key>ER</key>
	<dict>
		<key>en</key>
		<string>Eritrea</string>
		<key>it</key>
		<string>Eritrea</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>en</key>
		<string>Spain</string>
		<key>it</key>
		<string>Spagna</string>
	</dict>
	<key>ET</key>
	<dict>
		<key>en</key>
		<string>Ethiopia</string>
		<key>it</key>
		<string>Etiopia</string>
	</dict>
	<key>EU</key>
	<dict>
		<key>en</key>
		<string>European Union</string>
		<key>it</key>
		<string>Unione Europea</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>en</key>
		<string>Finland</string>
		<key>it</key>
		<string>Finlandia</string>
	</dict>
	<key>FJ</key>
	<dict>
		<key>en</key>
		<string>Fiji</string>
		<key>it</key>
		<string>Figi</string>
	</dict>
	<key>FK</key>
	<dict>
		<key>en</key>
		<string>Falkland Islands</string>
		<key>it</key>
		<string>Isole Falkland</string>
	</dict>
	<key>FM</key>
	<dict>
		<key>en</key>
		<string>Micronesia</string>
		<key>it</key>
		<string>Micronesia</string>
	</dict>
	<key>FO</key>
	<dict>
		<key>en</key>
		<string>Faroe Islands</string>
		<key>it</key>
		<string>Fær Øer</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>en</key>
		<string>France</string>
		<key>it</key>
		<string>Francia</string>
	</dict>
	<key>GA</key>
	<dict>
		<key>en</key>
		<string>Gabon</string>
		<key>it</key>
		<string>Gabon</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>en</key>
		<string>United Kingdom</string>
		<key>it</key>
		<string>Regno Unito</string>
	</dict>
	<key>GD</key>
	<dict>
		<key>en</key>
		<string>Grenada</string>
		<key>it</key>
		<string>Grenada</string>
	</dict>
	<key>GE</key>
	<dict>
		<key>en</key>
		<string>Georgia</string>
		<key>it</key>
		<string>Georgia</string>
	</dict>
	<key>GF</key>
	<dict>
		<key>en</key>
		<string>French Guiana</string>
		<key>it</key>
		<string>Guyana francese</string>
	</dict>
    <key>GG</key>
	<dict>
		<key>en</key>
		<string>Guernsey</string>
		<key>it</key>
		<string>Guernsey</string>
	</dict>
    <key>GH</key>
	<dict>
		<key>en</key>
		<string>Ghana</string>
		<key>it</key>
		<string>Ghana</string>
	</dict>
	<key>GI</key>
	<dict>
		<key>en</key>
		<string>Gibraltar</string>
		<key>it</key>
		<string>Gibilterra</string>
	</dict>
	<key>GL</key>
	<dict>
		<key>en</key>
		<string>Greenland</string>
		<key>it</key>
		<string>Groenlandia</string>
	</dict>
	<key>GM</key>
	<dict>
		<key>en</key>
		<string>Gambia</string>
		<key>it</key>
		<string>Gambia</string>
	</dict>
	<key>GN</key>
	<dict>
		<key>en</key>
		<string>Guinea</string>
		<key>it</key>
		<string>Guinea</string>
	</dict>
	<key>GP</key>
	<dict>
		<key>en</key>
		<string>Guadeloupe</string>
		<key>it</key>
		<string>Guadalupa</string>
	</dict>
	<key>GQ</key>
	<dict>
		<key>en</key>
		<string>Equatorial Guinea</string>
		<key>it</key>
		<string>Guinea Equatoriale</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>en</key>
		<string>Greece</string>
		<key>it</key>
		<string>Grecia</string>
	</dict>
	<key>GS</key>
	<dict>
		<key>en</key>
		<string>South Georgia and the South Sandwich Islands</string>
		<key>it</key>
		<string>Georgia del Sud e Isole Sandwich Meridionali</string>
	</dict>
	<key>GT</key>
	<dict>
		<key>en</key>
		<string>Guatemala</string>
		<key>it</key>
		<string>Guatemala</string>
	</dict>
    <key>GU</key>
	<dict>
		<key>en</key>
		<string>Guam</string>
		<key>it</key>
		<string>Guam</string>
	</dict>
	<key>GW</key>
	<dict>
		<key>en</key>
		<string>Guinea-Bissau</string>
		<key>it</key>
		<string>Guinea-Bissau</string>
	</dict>
	<key>GY</key>
	<dict>
		<key>en</key>
		<string>Guyana</string>
		<key>it</key>
		<string>Guyana</string>
	</dict>
	<key>HK</key>
	<dict>
		<key>en</key>
		<string>Hong Kong</string>
		<key>it</key>
		<string>Hong Kong</string>
	</dict>
    <key>HM</key>
	<dict>
		<key>en</key>
		<string>Heard Island and McDonald Islands</string>
		<key>it</key>
		<string>Isole Heard e McDonald</string>
	</dict>
	<key>HN</key>
	<dict>
		<key>en</key>
		<string>Honduras</string>
		<key>it</key>
		<string>Honduras</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>en</key>
		<string>Croatia</string>
		<key>it</key>
		<string>Croazia</string>
	</dict>
	<key>HT</key>
	<dict>
		<key>en</key>
		<string>Haiti</string>
		<key>it</key>
		<string>Haiti</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>en</key>
		<string>Hungary</string>
		<key>it</key>
		<string>Ungheria</string>
	</dict>
	<key>ID</key>
	<dict>
		<key>en</key>
		<string>Indonesia</string>
		<key>it</key>
		<string>Indonesia</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>en</key>
		<string>Ireland</string>
		<key>it</key>
		<string>Irlanda</string>
	</dict>
	<key>IL</key>
	<dict>
		<key>en</key>
		<string>Israel</string>
		<key>it</key>
		<string>Israele</string>
	</dict>
    <key>IM</key>
	<dict>
		<key>en</key>
		<string>Isle of Man</string>
		<key>it</key>
		<string>Isola di Man</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>en</key>
		<string>India</string>
		<key>it</key>
		<string>India</string>
	</dict>
    <key>IO</key>
	<dict>
		<key>en</key>
		<string>British Indian Ocean Territory</string>
		<key>it</key>
		<string>Territorio britannico dell'oceano Indiano</string>
	</dict>
	<key>IQ</key>
	<dict>
		<key>en</key>
		<string>Iraq</string>
		<key>it</key>
		<string>Iraq</string>
	</dict>
	<key>IR</key>
	<dict>
		<key>en</key>
		<string>Iran</string>
		<key>it</key>
		<string>Iran</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>en</key>
		<string>Iceland</string>
		<key>it</key>
		<string>Islanda</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>en</key>
		<string>Italy</string>
		<key>it</key>
		<string>Italia</string>
	</dict>
    <key>JE</key>
	<dict>
		<key>en</key>
		<string>Jersey</string>
		<key>it</key>
		<string>Baliato di Jersey</string>
	</dict>
	<key>JM</key>
	<dict>
		<key>en</key>
		<string>Jamaica</string>
		<key>it</key>
		<string>Giamaica</string>
	</dict>
	<key>JO</key>
	<dict>
		<key>en</key>
		<string>Jordan</string>
		<key>it</key>
		<string>Giordania</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>en</key>
		<string>Japan</string>
		<key>it</key>
		<string>Giappone</string>
	</dict>
	<key>KE</key>
	<dict>
		<key>en</key>
		<string>Kenya</string>
		<key>it</key>
		<string>Kenya</string>
	</dict>
	<key>KG</key>
	<dict>
		<key>en</key>
		<string>Kyrgyzstan</string>
		<key>it</key>
		<string>Kirghizistan</string>
	</dict>
	<key>KH</key>
	<dict>
		<key>en</key>
		<string>Cambodia</string>
		<key>it</key>
		<string>Cambogia</string>
	</dict>
	<key>KI</key>
	<dict>
		<key>en</key>
		<string>Kiribati</string>
		<key>it</key>
		<string>Kiribati</string>
	</dict>
	<key>KM</key>
	<dict>
		<key>en</key>
		<string>Comoros</string>
		<key>it</key>
		<string>Comore</string>
	</dict>
	<key>KN</key>
	<dict>
		<key>en</key>
		<string>Saint Kitts and Nevis</string>
		<key>it</key>
		<string>Saint Kitts e Nevis</string>
	</dict>
	<key>KP</key>
	<dict>
		<key>en</key>
		<string>North Korea</string>
		<key>it</key>
		<string>Corea del Nord</string>
	</dict>
	<key>KR</key>
	<dict>
		<key>en</key>
		<string>South Korea</string>
		<key>it</key>
		<string>Corea del Sud</string>
	</dict>
	<key>KW</key>
	<dict>
		<key>en</key>
		<string>Kuwait</string>
		<key>it</key>
		<string>Kuwait</string>
	</dict>
    <key>KY</key>
	<dict>
		<key>en</key>
		<string>Cayman Islands</string>
		<key>it</key>
		<string>Isole Cayman</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>en</key>
		<string>Kazakhstan</string>
		<key>it</key>
		<string>Kazakistan</string>
	</dict>
	<key>LA</key>
	<dict>
		<key>en</key>
		<string>Laos</string>
		<key>it</key>
		<string>Laos</string>
	</dict>
	<key>LB</key>
	<dict>
		<key>en</key>
		<string>Lebanon</string>
		<key>it</key>
		<string>Libano</string>
	</dict>
	<key>LC</key>
	<dict>
		<key>en</key>
		<string>Saint Lucia</string>
		<key>it</key>
		<string>Santa Lucia</string>
	</dict>
	<key>LI</key>
	<dict>
		<key>en</key>
		<string>Liechtenstein</string>
		<key>it</key>
		<string>Liechtenstein</string>
	</dict>
	<key>LK</key>
	<dict>
		<key>en</key>
		<string>Sri Lanka</string>
		<key>it</key>
		<string>Sri Lanka</string>
	</dict>
	<key>LR</key>
	<dict>
		<key>en</key>
		<string>Liberia</string>
		<key>it</key>
		<string>Liberia</string>
	</dict>
	<key>LS</key>
	<dict>
		<key>en</key>
		<string>Lesotho</string>
		<key>it</key>
		<string>Lesotho</string>
	</dict>
	<key>LT</key>
	<dict>
		<key>en</key>
		<string>Lithuania</string>
		<key>it</key>
		<string>Lituania</string>
	</dict>
	<key>LU</key>
	<dict>
		<key>en</key>
		<string>Luxembourg</string>
		<key>it</key>
		<string>Lussemburgo</string>
	</dict>
	<key>LV</key>
	<dict>
		<key>en</key>
		<string>Latvia</string>
		<key>it</key>
		<string>Lettonia</string>
	</dict>
	<key>LY</key>
	<dict>
		<key>en</key>
		<string>Libya</string>
		<key>it</key>
		<string>Libia</string>
	</dict>
	<key>MA</key>
	<dict>
		<key>en</key>
		<string>Morocco</string>
		<key>it</key>
		<string>Marocco</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>en</key>
		<string>Monaco</string>
		<key>it</key>
		<string>Monaco</string>
	</dict>
	<key>MD</key>
	<dict>
		<key>en</key>
		<string>Moldova</string>
		<key>it</key>
		<string>Moldavia</string>
	</dict>
	<key>ME</key>
	<dict>
		<key>en</key>
		<string>Montenegro</string>
		<key>it</key>
		<string>Montenegro</string>
	</dict>
    <key>MF</key>
	<dict>
		<key>en</key>
		<string>Saint Martin</string>
		<key>it</key>
		<string>Saint-Martin</string>
	</dict>
	<key>MG</key>
	<dict>
		<key>en</key>
		<string>Madagascar</string>
		<key>it</key>
		<string>Madagascar</string>
	</dict>
	<key>MH</key>
	<dict>
		<key>en</key>
		<string>Marshall Islands</string>
		<key>it</key>
		<string>Isole Marshall</string>
	</dict>
	<key>MK</key>
	<dict>
		<key>en</key>
		<string>Macedonia</string>
		<key>it</key>
		<string>Macedonia</string>
	</dict>
	<key>ML</key>
	<dict>
		<key>en</key>
		<string>Mali</string>
		<key>it</key>
		<string>Mali</string>
	</dict>
	<key>MM</key>
	<dict>
		<key>en</key>
		<string>Burma (Myanmar)</string>
		<key>it</key>
		<string>Birmania</string>
	</dict>
	<key>MN</key>
	<dict>
		<key>en</key>
		<string>Mongolia</string>
		<key>it</key>
		<string>Mongolia</string>
	</dict>
	<key>MO</key>
	<dict>
		<key>en</key>
		<string>Macao</string>
		<key>it</key>
		<string>Macao</string>
	</dict>
    <key>MP</key>
	<dict>
		<key>en</key>
		<string>Northern Mariana Islands</string>
		<key>it</key>
		<string>Isole Marianne Settentrionali</string>
	</dict>
    <key>MQ</key>
	<dict>
		<key>en</key>
		<string>Martinique</string>
		<key>it</key>
		<string>Martinica</string>
	</dict>
	<key>MR</key>
	<dict>
		<key>en</key>
		<string>Mauritania</string>
		<key>it</key>
		<string>Mauritania</string>
	</dict>
    <key>MS</key>
	<dict>
		<key>en</key>
		<string>Montserrat</string>
		<key>it</key>
		<string>Montserrat</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>en</key>
		<string>Malta</string>
		<key>it</key>
		<string>Malta</string>
	</dict>
	<key>MU</key>
	<dict>
		<key>en</key>
		<string>Mauritius</string>
		<key>it</key>
		<string>Mauritius</string>
	</dict>
	<key>MV</key>
	<dict>
		<key>en</key>
		<string>Maldives</string>
		<key>it</key>
		<string>Maldive</string>
	</dict>
	<key>MW</key>
	<dict>
		<key>en</key>
		<string>Malawi</string>
		<key>it</key>
		<string>Malawi</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>en</key>
		<string>Mexico</string>
		<key>it</key>
		<string>Messico</string>
	</dict>
	<key>MY</key>
	<dict>
		<key>en</key>
		<string>Malaysia</string>
		<key>it</key>
		<string>Malesia</string>
	</dict>
	<key>MZ</key>
	<dict>
		<key>en</key>
		<string>Mozambique</string>
		<key>it</key>
		<string>Mozambico</string>
	</dict>
	<key>NA</key>
	<dict>
		<key>en</key>
		<string>Namibia</string>
		<key>it</key>
		<string>Namibia</string>
	</dict>
    <key>NC</key>
	<dict>
		<key>en</key>
		<string>New Caledonia</string>
		<key>it</key>
		<string>Nuova Caledonia</string>
	</dict>
	<key>NE</key>
	<dict>
		<key>en</key>
		<string>Niger</string>
		<key>it</key>
		<string>Niger</string>
	</dict>
    <key>NF</key>
	<dict>
		<key>en</key>
		<string>Norfolk Island</string>
		<key>it</key>
		<string>Isola Norfolk</string>
	</dict>
	<key>NG</key>
	<dict>
		<key>en</key>
		<string>Nigeria</string>
		<key>it</key>
		<string>Nigeria</string>
	</dict>
	<key>NI</key>
	<dict>
		<key>en</key>
		<string>Nicaragua</string>
		<key>it</key>
		<string>Nicaragua</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>en</key>
		<string>Netherlands</string>
		<key>it</key>
		<string>Olanda</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>en</key>
		<string>Norway</string>
		<key>it</key>
		<string>Norvegia</string>
	</dict>
	<key>NP</key>
	<dict>
		<key>en</key>
		<string>Nepal</string>
		<key>it</key>
		<string>Nepal</string>
	</dict>
	<key>NR</key>
	<dict>
		<key>en</key>
		<string>Nauru</string>
		<key>it</key>
		<string>Nauru</string>
	</dict>
	<key>NU</key>
	<dict>
		<key>en</key>
		<string>Niue</string>
		<key>it</key>
		<string>Niue</string>
	</dict>
	<key>NZ</key>
	<dict>
		<key>en</key>
		<string>New Zealand</string>
		<key>it</key>
		<string>Nuova Zelanda</string>
	</dict>
	<key>OM</key>
	<dict>
		<key>en</key>
		<string>Oman</string>
		<key>it</key>
		<string>Oman</string>
	</dict>
	<key>PA</key>
	<dict>
		<key>en</key>
		<string>Panama</string>
		<key>it</key>
		<string>Panama</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>en</key>
		<string>Peru</string>
		<key>it</key>
		<string>Perù</string>
	</dict>
	<key>PF</key>
	<dict>
		<key>en</key>
		<string>French Polynesia</string>
		<key>it</key>
		<string>Polinesia francese</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>en</key>
		<string>Papua New Guinea</string>
		<key>it</key>
		<string>Papua Nuova Guinea</string>
	</dict>
	<key>PH</key>
	<dict>
		<key>en</key>
		<string>Philippines</string>
		<key>it</key>
		<string>Filippine</string>
	</dict>
	<key>PK</key>
	<dict>
		<key>en</key>
		<string>Pakistan</string>
		<key>it</key>
		<string>Pakistan</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>en</key>
		<string>Poland</string>
		<key>it</key>
		<string>Polonia</string>
	</dict>
	<key>PM</key>
	<dict>
		<key>en</key>
		<string>Saint Pierre and Miquelon</string>
		<key>it</key>
		<string>Saint-Pierre e Miquelon</string>
	</dict>
	<key>PN</key>
	<dict>
		<key>en</key>
		<string>Pitcairn Islands</string>
		<key>it</key>
		<string>Isole Pitcairn</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>en</key>
		<string>Puerto Rico</string>
		<key>it</key>
		<string>Porto Rico</string>
	</dict>
	<key>PS</key>
	<dict>
		<key>en</key>
		<string>Palestine</string>
		<key>it</key>
		<string>Palestina</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>en</key>
		<string>Portugal</string>
		<key>it</key>
		<string>Portogallo</string>
	</dict>
	<key>PW</key>
	<dict>
		<key>en</key>
		<string>Palau</string>
		<key>it</key>
		<string>Palau</string>
	</dict>
	<key>PY</key>
	<dict>
		<key>en</key>
		<string>Paraguay</string>
		<key>it</key>
		<string>Paraguay</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>en</key>
		<string>Qatar</string>
		<key>it</key>
		<string>Qatar</string>
	</dict>
	<key>RE</key>
	<dict>
		<key>en</key>
		<string>Réunion</string>
		<key>it</key>
		<string>Riunione</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>en</key>
		<string>Romania</string>
		<key>it</key>
		<string>Romania</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>en</key>
		<string>Serbia</string>
		<key>it</key>
		<string>Serbia</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>en</key>
		<string>Russia</string>
		<key>it</key>
		<string>Russia</string>
	</dict>
	<key>RW</key>
	<dict>
		<key>en</key>
		<string>Rwanda</string>
		<key>it</key>
		<string>Ruanda</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>en</key>
		<string>Saudi Arabia</string>
		<key>it</key>
		<string>Arabia Saudita</string>
	</dict>
	<key>SB</key>
	<dict>
		<key>en</key>
		<string>Solomon Islands</string>
		<key>it</key>
		<string>Isole Salomone</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>en</key>
		<string>Seychelles</string>
		<key>it</key>
		<string>Seychelles</string>
	</dict>
	<key>SD</key>
	<dict>
		<key>en</key>
		<string>Sudan</string>
		<key>it</key>
		<string>Sudan</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>en</key>
		<string>Sweden</string>
		<key>it</key>
		<string>Svezia</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>en</key>
		<string>Singapore</string>
		<key>it</key>
		<string>Singapore</string>
	</dict>
	<key>SH</key>
	<dict>
		<key>en</key>
		<string>Saint Helena</string>
		<key>it</key>
		<string>Sant'Elena</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>en</key>
		<string>Slovenia</string>
		<key>it</key>
		<string>Slovenia</string>
	</dict>
    <key>SJ</key>
	<dict>
		<key>en</key>
		<string>Svalbard and Jan Mayen</string>
		<key>it</key>
		<string>Svalbard e Jan Mayen</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>en</key>
		<string>Slovakia</string>
		<key>it</key>
		<string>Slovacchia</string>
	</dict>
	<key>SL</key>
	<dict>
		<key>en</key>
		<string>Sierra Leone</string>
		<key>it</key>
		<string>Sierra Leone</string>
	</dict>
	<key>SM</key>
	<dict>
		<key>en</key>
		<string>San Marino</string>
		<key>it</key>
		<string>San Marino</string>
	</dict>
	<key>SN</key>
	<dict>
		<key>en</key>
		<string>Senegal</string>
		<key>it</key>
		<string>Senegal</string>
	</dict>
	<key>SO</key>
	<dict>
		<key>en</key>
		<string>Somalia</string>
		<key>it</key>
		<string>Somalia</string>
	</dict>
	<key>SR</key>
	<dict>
		<key>en</key>
		<string>Suriname</string>
		<key>it</key>
		<string>Suriname</string>
	</dict>
    <key>SS</key>
	<dict>
		<key>en</key>
		<string>South Sudan</string>
		<key>it</key>
		<string>Sudan del Sud</string>
	</dict>
	<key>ST</key>
	<dict>
		<key>en</key>
		<string>São Tomé and Príncipe</string>
		<key>it</key>
		<string>São Tomé and Príncipe</string>
	</dict>
	<key>SV</key>
	<dict>
		<key>en</key>
		<string>El Salvador</string>
		<key>it</key>
		<string>El Salvador</string>
	</dict>
    <key>SX</key>
	<dict>
		<key>en</key>
		<string>Sint Maarten</string>
		<key>it</key>
		<string>Sint Maarten</string>
	</dict>
	<key>SY</key>
	<dict>
		<key>en</key>
		<string>Syria</string>
		<key>it</key>
		<string>Siria</string>
	</dict>
	<key>SZ</key>
	<dict>
		<key>en</key>
		<string>Swaziland</string>
		<key>it</key>
		<string>Swaziland</string>
	</dict>
	<key>TC</key>
	<dict>
		<key>en</key>
		<string>Turks and Caicos Islands</string>
		<key>it</key>
		<string>Turks e Caicos</string>
	</dict>
	<key>TD</key>
	<dict>
		<key>en</key>
		<string>Chad</string>
		<key>it</key>
		<string>Ciad</string>
	</dict>
    <key>TF</key>
	<dict>
		<key>en</key>
		<string>French Southern and Antarctic Lands</string>
		<key>it</key>
		<string>Terre australi e antartiche francesi</string>
	</dict>
	<key>TG</key>
	<dict>
		<key>en</key>
		<string>Togo</string>
		<key>it</key>
		<string>Togo</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>en</key>
		<string>Thailand</string>
		<key>it</key>
		<string>Thailandia</string>
	</dict>
	<key>TJ</key>
	<dict>
		<key>en</key>
		<string>Tajikistan</string>
		<key>it</key>
		<string>Tagikistan</string>
	</dict>
	<key>TK</key>
	<dict>
		<key>en</key>
		<string>Tokelau</string>
		<key>it</key>
		<string>Tokelau</string>
	</dict>
	<key>TL</key>
	<dict>
		<key>en</key>
		<string>East Timor</string>
		<key>it</key>
		<string>Timor Est</string>
	</dict>
	<key>TM</key>
	<dict>
		<key>en</key>
		<string>Turkmenistan</string>
		<key>it</key>
		<string>Turkmenistan</string>
	</dict>
	<key>TN</key>
	<dict>
		<key>en</key>
		<string>Tunisia</string>
		<key>it</key>
		<string>Tunisia</string>
	</dict>
	<key>TO</key>
	<dict>
		<key>en</key>
		<string>Tonga</string>
		<key>it</key>
		<string>Tonga</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>en</key>
		<string>Turkey</string>
		<key>it</key>
		<string>Turchia</string>
	</dict>
	<key>TT</key>
	<dict>
		<key>en</key>
		<string>Trinidad and Tobago</string>
		<key>it</key>
		<string>Trinidad e Tobago</string>
	</dict>
	<key>TV</key>
	<dict>
		<key>en</key>
		<string>Tuvalu</string>
		<key>it</key>
		<string>Tuvalu</string>
	</dict>
	<key>TW</key>
	<dict>
		<key>en</key>
		<string>Taiwan</string>
		<key>it</key>
		<string>Taiwan</string>
	</dict>
	<key>TZ</key>
	<dict>
		<key>en</key>
		<string>Tanzania</string>
		<key>it</key>
		<string>Tanzania</string>
	</dict>
	<key>UA</key>
	<dict>
		<key>en</key>
		<string>Ukraine</string>
		<key>it</key>
		<string>Ucraina</string>
	</dict>
	<key>UG</key>
	<dict>
		<key>en</key>
		<string>Uganda</string>
		<key>it</key>
		<string>Uganda</string>
	</dict>
	<key>UM</key>
	<dict>
		<key>en</key>
		<string>United States Minor Outlying Islands</string>
		<key>it</key>
		<string>Isole minori esterne degli Stati Uniti d'America</string>
	</dict>
	<key>US</key>
	<dict>
		<key>en</key>
		<string>United States</string>
		<key>it</key>
		<string>Stati Uniti d'America</string>
	</dict>
	<key>UY</key>
	<dict>
		<key>en</key>
		<string>Uruguay</string>
		<key>it</key>
		<string>Uruguay</string>
	</dict>
	<key>UZ</key>
	<dict>
		<key>en</key>
		<string>Uzbekistan</string>
		<key>it</key>
		<string>Uzbekistan</string>
	</dict>
	<key>VA</key>
	<dict>
		<key>en</key>
		<string>Vatican City</string>
		<key>it</key>
		<string>Città del Vaticano</string>
	</dict>
	<key>VC</key>
	<dict>
		<key>en</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>it</key>
		<string>Saint Vincent e Grenadine</string>
	</dict>
	<key>VE</key>
	<dict>
		<key>en</key>
		<string>Venezuela</string>
		<key>it</key>
		<string>Venezuela</string>
	</dict>
	<key>VG</key>
	<dict>
		<key>en</key>
		<string>British Virgin Islands</string>
		<key>it</key>
		<string>Isole Vergini britanniche</string>
	</dict>
	<key>VI</key>
	<dict>
		<key>en</key>
		<string>United States Virgin Islands</string>
		<key>it</key>
		<string>Isole Vergini americane</string>
	</dict>
    <key>VN</key>
	<dict>
		<key>en</key>
		<string>Vietnam</string>
		<key>it</key>
		<string>Vietnam</string>
	</dict>
	<key>VU</key>
	<dict>
		<key>en</key>
		<string>Vanuatu</string>
		<key>it</key>
		<string>Vanuatu</string>
	</dict>
	<key>WF</key>
	<dict>
		<key>en</key>
		<string>Wallis and Futuna</string>
		<key>it</key>
		<string>Wallis e Futuna</string>
	</dict>
	<key>WS</key>
	<dict>
		<key>en</key>
		<string>Samoa</string>
		<key>it</key>
		<string>Samoa</string>
	</dict>
	<key>YE</key>
	<dict>
		<key>en</key>
		<string>Yemen</string>
		<key>it</key>
		<string>Yemen</string>
	</dict>
	<key>YT</key>
	<dict>
		<key>en</key>
		<string>Mayotte</string>
		<key>it</key>
		<string>Mayotte</string>
	</dict>
	<key>ZA</key>
	<dict>
		<key>en</key>
		<string>South Africa</string>
		<key>it</key>
		<string>Sudafrica</string>
	</dict>
	<key>ZM</key>
	<dict>
		<key>en</key>
		<string>Zambia</string>
		<key>it</key>
		<string>Zambia</string>
	</dict>
	<key>ZW</key>
	<dict>
		<key>en</key>
		<string>Zimbabwe</string>
		<key>it</key>
		<string>Zimbabwe</string>
	</dict>
</dict>
</plist>
